$orange         : #BD3613;
$blue           : #2176C7;
$white          : #FFFFFF;
$grey           : #B3B3B3;
$dark-grey      : #373B44;
$less-dark-grey : #474B54;
$black          : #000000;

$font-primary: Passion One;
$font-secondary: Helvetica;

$default-border-radius : 10px;

$navbar-small-height : 40px;
$navbar-height: 75px;

$overlay-margin: 20px;
